---
import Layout from '@/layouts/Layout.astro'
import Generar from '@/components/Generar'
---

<Layout title='Doc AI - Genera informes profesionales en minutos'>
  <section
    class='flex flex-col items-center min-h-[50vh] max-w-[1000px] mx-auto'
  >
    <Generar client:load />
  </section>
</Layout>
