---
import Chat from '@/components/Chat'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Doc AI - Genera informes profesionales en minutos'>
  <section
    class='flex flex-col items-center justify-start min-h-[50vh] max-w-[800px] mx-auto pt-5'
  >
      
    <Chat client:load />
  </section>
</Layout>
