---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Doc AI - Genera informes profesionales en minutos'>
  <section
    class='flex flex-col items-center justify-center min-h-[50vh] max-w-[1000px] mx-auto'
  >
    <h2
      class='text-3xl text-white font-bold sm:text-4xl leading-relaxed pb-3 text-center'
    >
      ¡Ya casi lo tienes!
    </h2>
    <p class='text-gray-300 pb-10'>
      Descarga tu informe y continúa la edición en Word o Google Docs.
    </p>
  </section>
</Layout>
