---
import Layout from '@/layouts/Layout.astro'
import Formulario from '@/components/Formulario.jsx'
import Steps from '@/components/utils/Steps.astro'
import TextArea from '@/components/TextArea'
import Title from '@/components/utils/Title'
---

<Layout title='Doc AI - Genera informes profesionales en minutos'>
  <section class='flex flex-col justify-center items-center'>
    <div class='pt-5'>
      <Title client:only />

      <Formulario client:load>
        <TextArea client:load />
      </Formulario>

      <div class='text-white flex flex-col items-center py-10'>
        <h3 class='font-semibold pb-5 text-center'>
          ¿No tienes un texto que explaye tu tema?
        </h3>
        <a
          class='inline-block rounded bg-blue-600 px-4 py-2 text-xs font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-blue-500'
          href='/generar'
        >
          Genera uno
        </a>
      </div>
    </div>
    <Steps />
  </section>
</Layout>
