---
import Layout from '@/layouts/Layout.astro'
import Formulario from '@/components/Formulario.jsx'
import Input from '@/components/Input.astro'
import Steps from '@/components/utils/Steps.astro'
import StreamingContext from '@/components/StreamingContext'
---

<Layout title='Doc AI - Genera informes profesionales en minutos'>
  <section class='flex flex-col justify-center items-center'>
    <div class='pt-10'>
      <div class='mx-auto text-center max-w-[630px] lg:max-w-[800px]'>
        <h1
          class='text-3xl text-white font-bold sm:text-4xl leading-relaxed pb-3'
        >
          Genera informes de manera sencilla y rápida
        </h1>
        <p class='text-slate-300 text-sm lg:text-base text-pretty'>
          Ingresa un texto de al menos 500 caracteres sobre el tema que
          necesitas, y recibe un documento que puedes usar como base para tus
          informes académicos, escolares o laborales.
        </p>
      </div>
      <Formulario client:load>
        <Input />
      </Formulario>

      <StreamingContext client:load />
    </div>
    <!-- <Steps /> -->
  </section>
</Layout>
