---
import Layout from '@/layouts/Layout.astro'
import Formulario from '@/components/Formulario.jsx'
import Steps from '@/components/utils/Steps.astro'
import TextArea from '@/components/TextArea'
import Title from '@/components/utils/Title'
---

<Layout title='Doc AI - Genera informes profesionales en minutos'>
  <section class='flex flex-col justify-center items-center'>
    <div class='pt-5'>
      <div class='mx-auto text-center max-w-[630px] lg:max-w-[800px] min-h-[8.5rem] md:min-h-[5rem]'>
        <Title client:only />
        <p class='text-slate-300 text-sm lg:text-base text-pretty animate-fade-in animate-delay-[2s]'>
          Proporciona la información sobre un tema y obtén un documento Word
          para seguir editando.
        </p>
      </div>
      <Formulario client:load>
        <TextArea client:load/>
      </Formulario>

    

      <div class='text-white flex flex-col items-center py-10'>
        <h3 class='font-semibold pb-5 text-center'>
          ¿No tienes un texto que explaye tu tema?
        </h3>
        <a
          class='inline-block rounded bg-blue-600 px-4 py-2 text-xs font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-blue-500'
          href='/generar'
        >
          Genera uno
        </a>
      </div>
    </div>
    <Steps />
  </section>
</Layout>
