<>
  <textarea
    class='p-1 rounded-md'
    name='info'
    placeholder='Pega tu texto aquí o sube un PDF para comenzar... '></textarea>
  <div class='flex justify-center gap-x-2 pl-2'>
    <button
      type='submit'
      class='flex w-full items-center justify-center rounded-md bg-[#4CAF50] px-5 py-3 text-white transition focus:outline-none focus:ring focus:ring-yellow-400 sm:w-auto'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='icon icon-tabler icons-tabler-outline icon-tabler-send'
        ><path d='M0 0h24v24H0z' stroke='none'></path><path
          d='M10 14 21 3M21 3l-6.5 18a.55.55 0 0 1-1 0L10 14l-7-3.5a.55.55 0 0 1 0-1L21 3'
        ></path></svg
      >
    </button>
    <button
      type='button'
      class='flex w-full items-center justify-center gap-2 rounded-md bg-[#F44336] px-5 py-3 text-white transition focus:outline-none focus:ring focus:ring-yellow-400 sm:w-auto'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf'
        ><path d='M0 0h24v24H0z' stroke='none'></path><path
          d='M14 3v4a1 1 0 0 0 1 1h4'></path><path
          d='M5 12V5a2 2 0 0 1 2-2h7l5 5v4M5 18h1.5a1.5 1.5 0 0 0 0-3H5v6M17 18h2M20 15h-3v6M11 15v6h1a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-1z'
        ></path></svg
      >
    </button>
  </div>
</>
<style>
  textarea {
    resize: none;
    width: 100%;
    max-width: 1000px; /* O el tamaño deseado */
    box-sizing: border-box;
  }
</style>
