<article
  class='block rounded-xl border border-gray-100 p-4 mx-auto max-w-[400px] md:max-w-[300px] shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring text-center hover:cursor-crosshair'
>
  <span class='inline-block rounded-lg bg-gray-50 p-2'>
    <slot />
  </span>

  <h2 class='mt-2 font-bold text-white'>{Astro.props.title}</h2>

  <p class='sm:mt-1 text-sm text-gray-300'>
    {Astro.props.descripcion}
  </p>
</article>
